body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(75,237,150), rgb(43, 141, 89));
}

@keyframes start {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

.card {
    width: 550px;
    height: 500px;
    background-color: rgb(177, 255, 214);
    padding: 20px;
    text-align: center;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    animation: 0.6s ease-in-out 0s 1 start;
    animation-fill-mode: forwards;
}